# =========================
# Node.js & Express (Backend)
# =========================
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# =========================
# React.js (Frontend)
# =========================
build/
dist/
.eslintcache

# =========================
# Security & Environment Variables
# =========================
# NEVER push these to GitHub!
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor & IDE Directories
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?